<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build stable MDSplus release for Debian Wheezy</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>docker</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>aaa-release-stable</upstreamProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker pull mdsplus/docker:build_debian_wheezy-32
docker pull mdsplus/docker:build_debian_wheezy-64
docker run --name=${JOB_NAME}${BUILD_ID} \
  -v /mdsplus/dist/DebianWheezy:/installer \
  -v /mdsplus/certs/.gnupg:/root/.gnupg \
  -e HOME=/root \
  -e NOT_DONE=yes \
  mdsplus/docker:build_debian_wheezy-32 build_latest_release stable
sleep 5
docker rm ${JOB_NAME}${BUILD_ID}
docker run --name=${JOB_NAME}${BUILD_ID} \
  -v /mdsplus/dist/DebianWheezy:/installer \
  -v /mdsplus/certs/.gnupg:/root/.gnupg \
  -e HOME=/root \
  mdsplus/docker:build_debian_wheezy-64 build_latest_release stable pytest
sleep 5
docker rm ${JOB_NAME}${BUILD_ID}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.16">
      <recipients>mdsplus_git@psfc.mit.edu</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <jenkins.plugins.hipchat.HipChatNotifier plugin="hipchat@1.0.0">
      <token>GotG4z2bNkyPVwnn9cdYxClaIdKnatNUudiN87M0</token>
      <room>2361558</room>
      <startJobMessage></startJobMessage>
      <completeJobMessage></completeJobMessage>
    </jenkins.plugins.hipchat.HipChatNotifier>
  </publishers>
  <buildWrappers/>
</project>