<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Invoke this job on a change branch prior to issuing a pull request if you suspect the branch will cause a content change to one or more rpm or debian installalers. This will generate temporary installers and update the expected package content files and merge the changes back into a new &quot;&lt;branch-name&gt;-new-packaging&quot; branch. You could then look at the new branch and if the changes are acceptable you can issue a pull request on this new branch.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Branch</name>
          <description>Git branch to clone and modify with packaging changes. Must be a branch in MDSplus/mdsplus repository. It cannot be alpha or stable branches.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>email</name>
          <description>send message</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <url>git@github.com:/MDSplus/mdsplus.git</url>
        <credentialsId>185dc1e4-4bc4-4b12-a855-1306bf21d351</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/heads/${Branch}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>1bc3940831f23f48cd6fa00696fedbb5</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>newbranch=${Branch}-new-packaging
git checkout ${Branch}
git branch -D ${newbranch} &gt; /dev/null 2&gt;&amp;1 || :
git branch ${newbranch}
git checkout ${newbranch}
deploy/build.sh --os=fc22 --release --updatepkg
deploy/build.sh --os=ubuntu14 --release --updatepkg
deploy/build.sh --os=raspberrypi --release --updatepkg
if [ ! &quot;$(git diff)&quot; = &quot;&quot; ]
then
  git commit -a -m &quot;Update package content files&quot;
  git push -f origin ${newbranch}
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients>${BUILD_USER_EMAIL}</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.30">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>